<?xml version="1.0"?>
<launch>

<arg name="model_name" default ="beer"/>
<arg name="model_path" value="$(find atonomous_tb)/models/$(arg model_name)/model.sdf"/>
<arg name="x" default ="0"/>
<arg name="y" default ="0"/>



 <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
       args="-sdf -file $(arg model_path) -x $(arg x) -y $(arg y)  -model beer" />
<node name="go_to_goal_node" pkg="atonomous_tb" type="go_to_goal_args.py" args="$(arg x) $(arg y)"/>
<node name="video_recorder_node" pkg="atonomous_tb" type="s3_video_recorder.py" output="screen"/>





</launch>